<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>
            <h1>Home Page No.:<%= num%>
            </h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas consequatur
                blanditiis nisi itaque, suscipit minima atque mollitia facilis sapiente asperiores
                laboriosam nemo commodi voluptate optio debitis assumenda beatae eaque nulla?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda libero ipsum sit
                ab nihil quaerat non laboriosam quas quibusdam exercitationem doloremque magnam
                ex iure eligendi, quos consequatur. Maiores, cupiditate fugit.</p>

    </body>

    </html>