<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farms</title>
</head>

<body>
    <%= messages %>
        <h1>
            Products!!
        </h1>
        <ul>
            <% for (let farm of farms){ %>
                <a href="/farm/<%= farm._id %>">
                    <li>
                        <%= farm.name %>
                    </li>
                </a>


                <% } %>
        </ul>
        <a href="/farm/new">Enter a new farm</a>

</body>

</html>