<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a product</title>
</head>

<body>
    <h1>Enter a product:</h1>
    <form action="/farm" method="post">
        <div>
            <label for="name">Farm name</label>
            <input type="text" id="name" name="name" placeholder="Name">
        </div>
        <div>
            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder="City">
        </div>

        <div>
            <label for="email"> Email</label>
            <input type="text" id="email" name="email">
        </div>




        <button>Submit</button>
    </form>
    <a href="/products">Back to all products!!</a>
</body>

</html>