<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <h1>
        <%= category %> Products!!
    </h1>
    <ul>
        <% for (let prod of product){ %>
            <a href="/products/<%= prod.id %>">
                <li>
                    <%= prod.name %>
                </li>
            </a>

            <% } %>
    </ul>
    <% if(category!="All" ){ %>
        <a href="/products">All Products</a>
        <% } %>
            <a href="/products/new">Enter a new product</a>

</body>

</html>