<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a product</title>
</head>

<body>
    <h1>
        <%= farm.name %>
    </h1>
    <h2>Enter a product:</h2>
    <form action="/farm/<%=farm._id %>/products" method="post">
        <label for="name">Product name</label>
        <input type="text" id="name" name="name" placeholder="Name">
        <label for="price"></label>
        <input type="text" id="price" name="price" placeholder="price">
        <label for="category"> Select category</label>
        <select name="category" id="category">
            <% for(let cat of categories) {%>
                <option value="<%= cat%>">
                    <%= cat %>
                </option>
                <% } %>
        </select>

        <button>Submit</button>
    </form>
    <a href="/products">Back to all products!!</a>
</body>

</html>